# Build artefacts
build/
*.o
*.obj
*.a
*.exe
# DOS null-device stub (created by tests on non-DOS hosts)
NUL
NETEST.EXE
NELDTEST.EXE
KRNLTEST.TMP
PHASE_B_TEST.INI
PHASE_B_TEST2.INI
# WIN.INI created by profile API tests on non-DOS hosts
C:\\WINDOWS\\WIN.INI
